#bodyimage {
    background-image: url("Images/Space.jpg");
    background-size:cover;
}
#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}


.planetHoth {
    height: 300px;
    width: 300px;
    margin-right: 150px;
    margin-bottom: 1275px;
}

.planetFelucia {
    height: 300px;
    width: 300px;
    margin-left: 100px;
    margin-top: 50px;
}

.planetTatooine {
    height: 300px;
    width: 300px;
    margin-right: 175px;
    margin-top: 600px;
}

.planetDagobah {
    height: 300px;
    width: 300px;
    margin-bottom: 1000px;
}

.deathstar {
    height: 300px;
    width: 300px;
    margin-top:400px
}

.planetEndor {
    height: 300px;
    width: 300px;
    margin-top: 500px;
    margin-left: 800px;
}

.planetKamino {
    height: 300px;
    width: 300px;
}

.planetCoruscant {
    height: 300px;
    width: 300px;
    margin-top: 1000px;
    margin-left: 400px;
}

.titles {
   font-size: 35px;
}

.stats {
   font-size: 20px;
   text-indent: 20px;
   
}

a {
   color: black;
   text-decoration: none;
}

a:hover {
   color: gray;
   text-decoration: none;
}