@{
    ViewBag.Title = "Home Page";
}
@*<video playsinline autoplay muted loop poster="" id="bgvid">
    <source src="" type="video/webm">
    <source src="" type="video/mp4">
</video>*@
<body id="bodyimage">
<div class="jumbotron">
    <h1>Brotherhood of Binks</h1>
    <p class="lead">A site for Star Wars fanatics and their friends</p>
    <button type="button" class="btn btn-danger" onclick="null">Join the Brotherhood</button>
</div>
    
<div class="row">
   
</div>
</body>